#game1 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/A1_b734cf71-553d-44b6-aa8b-80a78ec4f1b7_large.jpg?v=1644404103
    );}
#game2 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/A2_6fc07860-ffbf-4666-8c65-1794bb9f5de2_large.jpg?v=1643811413
    );}
#game3 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/A1_d7628d80-1b10-46ea-8aee-82c773fe7821_large.jpg?v=1643721030
    );}
#game4 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/A3_2e6fb9b7-0694-462d-bfe1-dd3bf125ae0f_large.jpg?v=1643697348
    );}
#game5 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/A1_fbe2d3f3-943d-4c3f-b355-75f836dc7a08_large.jpg?v=1643468062
    );}
#game6 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/A2_e93665e4-33df-451b-bdb3-9918b2bb37e1_large.jpg?v=1643694389
    );}
#game7 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/A1_77d5d1dc-c98b-4dc0-8caf-47b4eb63c74c_large.jpg?v=1642954673
    );}
#game8 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/NSW1971ProjectHelios_large.jpg?v=1592377434
    );}
#game9 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/NSW88Heroes98HeroesEdition_large.jpg?v=1591178776
    );}
#game10 {background-image: url(
    https://cdn.shopify.com/s/files/1/1170/5330/products/NSW-30-in-1-Game-Collection-Volume-1_large.jpg?v=1594478345
    );}
#carousel1 {background-image: url(
    https://cdn.wallpapersafari.com/32/14/0KNLB1.jpg
    );}
#carousel2 {background-image: url(
    https://free4kwallpapers.com/uploads/originals/2020/05/02/game-art-wallpaper.jpg
    );}
#carousel3 {background-image: url(
    https://wallpapercave.com/wp/wp9281227.jpg
    );}



.custom-carousel {
    height: 80vh;
    background-position: center;
    background-size: cover;
}
.custom-img {
    height: 60vh;
    background-position: center;
    background-size: cover;
}
.divider-page {
    margin: 5rem 0;
  }

@media (max-width: 750px) {
    #contact-img{
        width: 0;
        height: 0;
    }
    .carousel {
        width: 0;
        height: 0;
    }
    #welcome-text{
        margin-top: 3rem;
    }
}
.card:hover {
    transform: scale(1.005);
    transition: .2s;
    transition-delay: .02s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
}